$white: #ffffff
$black: #000000
$gray-1300: #0f141b
$gray-1200: #0e141a
$gray-1100: #212532
$gray-1000: #212533
$gray-900: #1e212d
$gray-800: #282a33
$gray-700: #282c38
$gray-600: #353844
$gray-600: #3f4453
$gray-500: #41444f
$gray-400: #3f4553
$gray-300: #505767
$gray-200: #8d92a3 
$gray-100: #7b8191
$gray-050: #c2c5cd
$pink: #a62067
$gold-100: #c5963e
$gold-200: #b6862e
$dirtyYellow: #8c883a
$green-200: #1a7051
$green-100: #07d916
$red: #d30847