$white: #ffffff
$black: #000000
$pink: #a62067
$green: #1a7051
$bgGray: #0f141b
$eventGray: #212533
$eventHeadingBgGray: #353844
$eventHeadingGray: #8d92a3
$formButtonColor: #c2c5cd
$eventHoverGray: #3f4453
$betGold: #b6862e
$dirtyYellow: #8c883a
$starGold: #c5963e
$betRed: #d30847
$betGreen: #07d916