@import "reset.sass"
@import "colors.sass"
@import "common.sass"
@import "bets-view.sass"
@import "sidebar/sidebar.sass"
@import "games/games.sass"
@import "utils.sass"

body  
  font-family: Roboto ,Arial ,Helvetica ,sans-serif

button, input
  border: none
  border-radius: 0
  padding: 0
  -webkit-appearance: none
  background: transparent
  font: inherit
  &:focus
    outline: none
    user-select: none

button, input[type='submit'] 
  cursor: pointer