.sidebar
  width: 24%
  flex-grow: 1

.list-item
  height: 30px
  background-color: $sidebarEventGray
  color: $eventHeadingDarkGray
  font-size: 12px
  padding: 0 10px
  display: flex
  align-items: center
  margin: 2px 0 0 0

.view-items-wrapper
  display: flex
  border-bottom: 1px solid $pink

.pre-match, .live
  margin: 0 0 0 2px

.view-list-items
  display: flex
  flex-grow: 1

.tab-btn
  font-size: 12px
  padding: 10px 8px
  background: $eventHeadingBgGray
  color: $white
  width: 100%
  display: flex
  align-items: center
  cursor: pointer
  transition: color 0.1s linear
  &:hover, &.active
    background: $pink
  &:focus
    outline: none



.dashboard-icon
  background-position: -10px -151px

.event-count
  background: rgba(0,0,0, 0.2)
  font-size: 10px
  padding: 4px 6px
  border-radius: 8px

.filter-view-container
  background: $eventGray  
  padding: 2px 4px

.view-list
  display: flex
  padding: 4px 0

.view-tab
  font-size: 12px
  color: $eventHeadingGray
  padding: 6px 11px
  background: $eventGray
  display: flex
  justify-content: center
  align-items: center
  &.time-tab
    min-width: 66px
  .time-filter
    display: flex
    align-items: center
    cursor: pointer
  .time-icon
    background-position: -122px -44px
    height: 18px
    width: 20px
  .dropdown-icon
    background-position: -227px -63px
    width: 9px
    margin: 0 0 0 3px
  .mouse-icon
    background-position: -120px -81px
    height: 17px

.play-tab
  border-left: 1px solid $bgGray
  border-right: 1px solid $bgGray
  .play-icon
    background-position: -195px -105px
    width: 10px

.play-tab
  padding: 6px 8px

.mouse-tab
  padding: 6px

.multi-tab
  flex-grow: 1
  padding: 4px
  display: flex
  justify-content: flex-end

.multi-select
  display: flex
  justify-content: flex-end

.toggle-btn
  width: 26px
  height: 17px
  margin: 0 0 0 8px
  background: $green
  border-radius: 9px
  cursor: pointer
  padding: 0
  .round
    width: 13px
    height: 13px
    border-radius: 50%
    background: $white
    transition: all 0.1s ease
    &.active
      transform: translate(11px, 0px)


.search-minimize-wrap
  display: flex
  padding: 2px 0

.search-form
  flex-grow: 1
  position: relative
  .search-btn
    position: absolute
    right: 2px 
    top: 0
    width: 26px
    height: 26px
    background-image: url('../img/img_sprites.png')
    background-repeat: no-repeat
    background-position: -117px -111px

.search-input
  width: 100% 
  border: 1px solid $eventHeadingGray
  background: $eventGray
  padding: 6px 35px 6px 10px
  color: $white
  border-color: $eventHeadingGray
  transition: all 0.1s linear 
  &::placeholder
    color: $eventHeadingGray
  &:focus
    border-color: $white
    outline: none


.minimize-sidebar
  width: 25px
  background: transparent
  margin: 0 0 0 8px
  color: $white
  .minimize-icon
    background-position: -10px -10px
    width: 20px
    height: 18px

.acc-wrapper
  margin: 4px 0 0 0

.acc-item
  background: $eventHeadingBgGray
  color: $eventHeadingGray
  padding: 0 0 0 8px
  height: 30px
  font-size: 12px
  margin: 2px 0 0 0
  user-select: none
  display: flex
  align-items: center
  justify-content: space-between
  cursor: pointer
  .games-count
    text-align: right
    margin-left: auto
    margin-right: 10px
    color: $eventHeadingDarkGray
  .game-info
    display: flex
    align-items: center
    margin-left: auto
  .info-icon
    background-position: -86px -46px
    width: 17px
    height: 17px
    margin-left: auto
    margin-right: 6px

.arrow-up
  width: 30px
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  transition: all 0.1s linear
  &.active
    background-color: $green
  &.open
    transform: rotate(180deg)
  &:hover
    background-color: $eventHoverGray
  &.hidden
    display: none


#accContent
  background: $eventGray
  padding: 5px 1px
  .form-group
    display: flex
    justify-content: space-between
    margin: 4px 0 0 0
  .form-btn
    width: 50%
    text-align: center
    padding: 8px
    background: transparent
    border: 1px solid $eventHeadingGray
    color: $formButtonColor
    font-size: 12px
    &.active
      background: $green
      border-color: $green
      color: $white
    &:first-child
      margin: 0 2px 0 0
    &:last-child
      margin: 0 0 0 2px

.form-info
  font-size: 10px
  padding: 4px 0
  color: $eventHeadingGray
  letter-spacing: 1px
  word-spacing: 1px
  .learn-more
    color: white
    text-decoration: none
    line-height: 12px

.acc-heading
  display: flex
  align-items: center
  color: $formButtonColor
  .star
    margin: 0 4px 0 0
  .bg-icon
    margin: 0 8px 0 0
    width: 20px
    height: 16px
  .favourite-icon
    background-position: -46px -83px
  .heart-icon
    background-position: -122px -10px
  .popular-icon
    background-position: -10px -83px
  .football-icon
    background-position: -158px -106px
  .ball-icon
    background-position: -50px -10px
  .tennis-icon
    background-position: -10px -46px
  .basketball-icon
    background-position: -86px -10px
  .valeyball-icon
    background-position: -82px -83px
  .hockey-icon
    background-position: -44px -151px
  .baseball-icon
    background-position: -50px -46px
  .football-icon
    background-position: -158px -106px
  .more-icon
    background-position: -75px -147px

.divider
  width: 100%
  height: 1px
  background-color: $eventHeadingGray
  margin: 8px 0

.popular-list-item
  justify-content: space-between
  &.active
    background-color: $eventHeadingBgGray
    color: $formButtonColor

.star
  background-position: -196px -42px
  width: 12px
.star-filled
  background-position: -196px -10px

.countries-list

.country-list-item
  background-color: $sidebarEventGray
  color: $eventHeadingDarkGray
  padding-right: 0
  &:hover .arrow-up
    display: block
    background-color: $eventHoverGray
  .arrow-up
    margin-left: auto

.bg-flag
  background-image: url('../img/img_sprites.png')
  background-repeat: no-repeat
  width: 20px
  height: 14px
  margin: 0 6px 0 0
  &.spain
    background-position: -158px -42px
  &.italy
    background-position: -86px -119px
  &.uk
    background-position: -158px -74px
  &.jp
    background-position: -158px -10px
  &.argentina
    background-position: -10px -119px

.league-list
  padding: 5px
  background-color: $listBgDarkGray
.league-item
  padding: 0 6px 0 18px
  &.active
    background-color: $eventHeadingBgGray
  .bg-icon
    margin-left: auto

.league-input
  padding: 0
  height: initial
  width: initial
  margin-bottom: 0
  display: none
  cursor: pointer
  &:checked + label:after
    content: url('../img/checked-icon.png')
    display: block
    position: absolute
    top: 0
    left: 2px
    width: 6px
    height: 14px

.league-label 
  position: relative
  cursor: pointer
  max-width: 200px
  display: block
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  &:before 
    content: ''
    -webkit-appearance: none
    background-color: $eventHeadingDarkGray
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05)
    padding: 7px
    display: inline-block
    position: relative
    vertical-align: middle
    cursor: pointer
    margin-right: 5px
