.hide
  display: none

.bg-icon
  background-image: url('../img/img_sprites.png')
  background-repeat: no-repeat
  width: 15px
  height: 14px

.flex-jc-ac
  display: flex
  align-items: center
  justify-content: space-between

.jc-c
  justify-content: center

.jc-sb
  justify-content: space-between

.top-radius
  border-top-left-radius: 2px
  border-top-right-radius: 2px

.bottom-radius
  border-bottom-left-radius: 2px
  border-bottom-right-radius: 2px

.text-ellips
  max-width: 200px
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

.dropdown-icon
  background-position: -227px -63px
  width: 9px
  margin-inline-start: 3px

.time-filter
  display: flex
  align-items: center
  cursor: pointer

.time-icon
  background-position: -122px -44px
  height: 18px
  width: 16px
  margin-inline-end: 4px
  
.mouse-icon
  background-position: -120px -81px
  height: 17px  

.up
  background-position: -223px -112px
.down
  background-position: -223px -87px
.x-icon
  background-position: -228px -8px
.close-icon
  width: 10px
  margin-inline-end: 10px
  background-position: -9px -181px