<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Vivarobet Bookmaking Company is one of the leading betting sites. Wide range of sports live streams of football, basketball, volleyball, tennis, ice hockey, horse racing etc. About 28,000 live matches yearly, poker events, casino, backgammon and 24 hours of Customer Support." />
    <meta name="keywords" content="sport betting,live sports betting,online betting,bet and win,online football,bet online,soccer bets,champions league,barclays premier league,football betting site" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="Vivarobet - Sports betting, Poker, Casino, Online Games" />
    <title>Vivarobet - Sports betting, Poker, Casino, Online Games</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="../img/favicon.ico">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="main-page">
      <div class="container">
        <aside class="sidebar">
          <div class="view-tabs">
            <ul class="view-items-wrapper">
              <li class="view-list-items dashboard">
                <button class="tab-btn jc-c" aria-label='dashboard'>
                  <div class="bg-icon dashboard-icon"></div>
                </button>
              </li>
              <li class="view-list-items live">
                <button class="tab-btn jc-sb" aria-label='Live events'>
                  LIVE <span class="event-count">45</span>
                </button>
              </li>
              <li class="view-list-items pre-match">
                <button class="tab-btn jc-sb active" aria-label='Pre-match events'>
                  PRE-MATCH <span class="event-count">657</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="filter-view-container">
            <ul class="view-list">
              <li class="view-tab time-tab">
                <div class="tab time-filter" role="button">
                  <div class="time-icon bg-icon"></div>
                  <p class="time">72H</p>
                  <div class="bg-icon dropdown-icon"></div>
                </div>
              </li>
              <li class="view-tab play-tab">
                <button class="tab bg-icon play-icon" aria-label="play"></button>
              </li>
              <li class="view-tab mouse-tab">
                <button class="tab bg-icon mouse-icon" aria-label="mouse"></button>
              </li>
              <li class="view-tab multi-tab">
                <div class="tab multi-select">
                  <p>Multi-selection</p>
                  <button class="toggle-btn" aria-label="multi selection">
                    <div class="round active"></div>
                  </button>
                </div>
              </li>
            </ul>
            <div class="search-minimize-wrap">
              <form action="" class="search-form">
                <input
                  type="text"
                  placeholder="Competition or a team"
                  class="search-input"
                  aria-label="Competition or a team"
                />
                <button type="submit" class="search-btn" aria-label="search"></button>
              </form>
              <button class="minimize-sidebar" aria-label="minimize">
                <div class="minimize-icon bg-icon"></div>
              </button>
            </div>
          </div>
          <div class="sport-events-menu">
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling">
                <div class="sport-event-item-heading">
                  <div class="favourite-icon bg-icon"></div>
                  Favourites
                </div>
                <div class="games-count">111</div>
                <button class="arrow-up" aria-label="more events"></button>
              </div>
              <div class="hide countries-list-wrapper">Favourite content</div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling active">
                <div class="sport-event-item-heading">
                  <div class="bg-icon heart-icon"></div>
                  My Favourite team
                </div>
                <div class="game-info">
                  <button class="bg-icon info-icon" aria-label="info"></button>
                  <div class="games-count">4</div>
                </div>
                <button class="arrow-up open" aria-label="open events"></button>
              </div>
              <div class="countries-list-wrapper favourite-form-wrapper">
                <form action="" class="search-form">
                  <input
                    type="text"
                    placeholder="Competition or a team"
                    class="search-input"
                    aria-label="Competition or a team"
                  />
                  <button type="submit" class="search-btn" aria-label="search"></button>
                  <div class="form-group">
                    <button type="submit" class="form-btn active" aria-label="confirm">CONFIRM</button>
                    <button type="reset" class="form-btn" aria-label="cancel">CANCEL</button>
                  </div>
                </form>
                <div class="divider"></div>
                <p class="form-info">
                  From now on you can choose your favorite football team and even
                  get cool bonuses betting on it. Just search to add it.
                  <a href="#" rel="noopener" class="learn-more">Learn more</a>
                </p>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling active">
                <div class="sport-event-item-heading">
                  <div class="bg-icon popular-icon"></div>
                  Popular
                </div>
                <div class="games-count">7</div>
                <button class="arrow-up" aria-label="more events"></button>
              </div>
              <div class="countries-list-wrapper">
                <ul class="popular-list">
                  <li class="list-item popular-list-item active">
                    UEFA Champions League
                    <div class="bg-icon star"></div>
                  </li>
                  <li class="list-item popular-list-item">
                    UEFA Europa League
                    <div class="bg-icon star star-filled"></div>
                  </li>
                  <li class="list-item popular-list-item">Premier League</li>
                  <li class="list-item popular-list-item">Bundesliga</li>
                  <li class="list-item popular-list-item">Primera Division</li>
                  <li class="list-item popular-list-item">Serie A</li>
                  <li class="list-item popular-list-item">Ligue 1</li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling active">
                <div class="sport-event-item-heading">
                  <div class="bg-icon ball-icon"></div>
                  Football
                </div>
                <div class="games-count">1578</div>
                <button class="arrow-up open green" aria-label="more events"></button>
              </div>
              <div class="countries-list-wrapper">
                <ul class="countries-list">
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag spain"></div>
                      <span>Spain</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag italy"></div>
                      <span>Italy</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag uk"></div>
                      <span>United Kingdom</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag jp"></div>
                      <span>Japan</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag argentina"></div>
                      <span>Argentina</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling active">
                <div class="sport-event-item-heading">
                  <div class="bg-icon tennis-icon"></div>
                  Tennis
                </div>
                <div class="games-count">587</div>
                <button class="arrow-up open yellow" aria-label="more events"></button>
              </div>
              <div class="countries-list-wrapper">
                <ul class="countries-list">
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag spain"></div>
                      <span>Spain</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag italy"></div>
                      <span>Italy</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling active">
                      <div class="bg-flag uk"></div>
                      <span>United Kingdom</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                    <ul class="league-list">
                      <li class="league-item active list-item top-radius">
                        <div class="league-checkbox">
                          <input type="checkbox" id="html" class="league-input" checked/>
                          <label class="league-label text-ellips" for="html"
                            >League name League name League name</label
                          >
                        </div>
                        <div class="bg-icon star"></div>
                      </li>
                      <li class="league-item list-item">
                        <div class="league-checkbox">
                          <input
                            type="checkbox"
                            id="html1"
                            class="league-input"
                          />
                          <label class="league-label text-ellips" for="html1"
                            >League name 2</label
                          >
                        </div>
                        <div class="bg-icon star star"></div>
                      </li>
                      <li class="league-item list-item bottom-radius">
                        <div class="league-checkbox">
                          <input
                            type="checkbox"
                            id="html2"
                            class="league-input"
                          />
                          <label class="league-label text-ellips" for="html2"
                            >League name 3</label
                          >
                        </div>
                        <div class="bg-icon star"></div>
                      </li>
                    </ul>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag jp"></div>
                      <span>Japan</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag argentina"></div>
                      <span>Argentina</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling">
                <div class="sport-event-item-heading">
                  <div class="bg-icon basketball-icon"></div>
                  Basketball
                </div>
                <div class="games-count">587</div>
                <button class="arrow-up" aria-label="more events"></button>
              </div>
              <div class="hide countries-list-wrapper">
                <ul class="countries-list">
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag spain"></div>
                      <span>Spain</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag italy"></div>
                      <span>Italy</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag uk"></div>
                      <span>United Kingdom</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag jp"></div>
                      <span>Japan</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag argentina"></div>
                      <span>Argentina</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling">
                <div class="sport-event-item-heading">
                  <div class="bg-icon valeyball-icon"></div>
                  Valeyball
                </div>
                <div class="games-count">50</div>
                <button class="arrow-up" aria-label="more events"></button>
              </div>
              <div class="hide countries-list-wrapper">
                <ul class="countries-list">
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag spain"></div>
                      <span>Spain</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag italy"></div>
                      <span>Italy</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag uk"></div>
                      <span>United Kingdom</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag jp"></div>
                      <span>Japan</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag argentina"></div>
                      <span>Argentina</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling">
                <div class="sport-event-item-heading">
                  <div class="bg-icon hockey-icon"></div>
                  Ice Hockey
                </div>
                <div class="games-count">111</div>
                <button class="arrow-up" aria-label="more events"></button>
              </div>
              <div class="hide countries-list-wrapper">
                <ul class="countries-list">
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag spain"></div>
                      <span>Spain</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag italy"></div>
                      <span>Italy</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag uk"></div>
                      <span>United Kingdom</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag jp"></div>
                      <span>Japan</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag argentina"></div>
                      <span>Argentina</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling">
                <div class="sport-event-item-heading">
                  <div class="bg-icon baseball-icon"></div>
                  Baseball
                </div>
                <div class="games-count">587</div>
                <button class="arrow-up" aria-label="more events"></button>
              </div>
              <div class="hide countries-list-wrapper">
                <ul class="countries-list">
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag spain"></div>
                      <span>Spain</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag italy"></div>
                      <span>Italy</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag uk"></div>
                      <span>United Kingdom</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag jp"></div>
                      <span>Japan</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag argentina"></div>
                      <span>Argentina</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling">
                <div class="sport-event-item-heading">
                  <div class="bg-icon football-icon"></div>
                  American Football
                </div>
                <div class="games-count">50</div>
                <button class="arrow-up" aria-label="more events"></button>
              </div>
              <div class="hide countries-list-wrapper">
                <ul class="countries-list">
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag spain"></div>
                      <span>Spain</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag italy"></div>
                      <span>Italy</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag uk"></div>
                      <span>United Kingdom</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag jp"></div>
                      <span>Japan</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag argentina"></div>
                      <span>Argentina</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="sport-event-item flex-jc-ac toggle-nextSibling">
                <div class="sport-event-item-heading">
                  <div class="bg-icon more-icon"></div>
                  More sports
                </div>
                <div class="games-count">+34</div>
                <button class="arrow-up" aria-label="more events"></button>
              </div>
              <div class="hide countries-list-wrapper">
                <ul class="countries-list">
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag spain"></div>
                      <span>Spain</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag italy"></div>
                      <span>Italy</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag uk"></div>
                      <span>United Kingdom</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag jp"></div>
                      <span>Japan</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                  <li class="country-list-item-wrapper">
                    <div class="list-item country-list-item toggle-nextSibling">
                      <div class="bg-flag argentina"></div>
                      <span>Argentina</span>
                      <button class="arrow-up hidden" aria-label="dropdown"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sport-event-item-wrapper">
              <div class="hide countries-list-wrapper">
                  <ul class="countries-list">
                    <li class="country-list-item-wrapper">
                      <div class="list-item country-list-item toggle-nextSibling">
                        <div class="bg-flag spain"></div>
                        <span>Spain</span>
                        <button class="arrow-up hidden" aria-label="dropdown"></button>
                      </div>
                    </li>
                    <li class="country-list-item-wrapper">
                      <div class="list-item country-list-item toggle-nextSibling">
                        <div class="bg-flag italy"></div>
                        <span>Italy</span>
                        <button class="arrow-up hidden" aria-label="dropdown"></button>
                      </div>
                    </li>
                    <li class="country-list-item-wrapper">
                      <div class="list-item country-list-item toggle-nextSibling">
                        <div class="bg-flag uk"></div>
                        <span>United Kingdom</span>
                        <button class="arrow-up hidden" aria-label="dropdown"></button>
                      </div>
                    </li>
                    <li class="country-list-item-wrapper">
                      <div class="list-item country-list-item toggle-nextSibling">
                        <div class="bg-flag jp"></div>
                        <span>Japan</span>
                        <button class="arrow-up hidden" aria-label="dropdown"></button>
                      </div>
                    </li>
                    <li class="country-list-item-wrapper">
                      <div class="list-item country-list-item toggle-nextSibling">
                        <div class="bg-flag argentina"></div>
                        <span>Argentina</span>
                        <button class="arrow-up hidden" aria-label="dropdown"></button>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </aside>
        <div class="bets-container">
          <div class="bets-col">
            <div class="bets-col-header flex-jc-ac top-radius">
              <div class="bets-col-title">
                <div class="bg-flag italy"></div>
                <span>Serie A</span>
              </div>
              <div class="result-dropdown" role="button">
                <span>Match result</span>
                <div class="bg-icon dropdown-icon"></div>
              </div>
            </div>
            <div class="current-games-toggler" role="button">
              <button class="bg-icon close-icon" aria-label="close"></button>
              <span>FOOTBALL. ITALY - SERIE A</span>
              <div class="arrow-up bet-arrow-up"></div>
            </div>
            <div class="one-day-games-container">
              <div class="games-date-container toggle-nextSibling flex-jc-ac top-radius">
                <div class="games-date">TODAY. JULY 31, 2020</div>
                <button class="arrow-up bet-arrow-up" aria-label="today games"></button>
              </div>
              <div class="games-list">
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          Carpi FC
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">US Sassuolo</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon tv" aria-label="tv"></button>
                      <button class="bg-icon play" aria-label="play"></button>
                      <button class="bg-icon statistic" aria-label="statistic"></button>
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+144</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">Carpi FC</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.96</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        <div class="bg-icon down"></div>
                        3.15
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">US Sassuolo</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">3.15</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">03:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          Juventus FC
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">Empoli FC</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+14</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">Juventus FC</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.72</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        3.66
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">Empoli FC</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="one-day-games-container">
              <div class="games-date-container toggle-nextSibling flex-jc-ac top-radius">
                <div class="games-date">TOMMOROW. APRIL 2, 2020</div>
                <button class="arrow-up bet-arrow-up" aria-label="current day events"></button>
              </div>
              <div class="games-list">
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          Manchester United Manchester United
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">
                          Borussia Dortmun Borussia Dortmun
                        </p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon statistic" aria-label="statistic"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+56</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">
                        Manchester United Manchester United
                      </p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">2.65</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        <div class="bg-icon down"></div>
                        1.95
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">
                        Borussia Dortmun Borussia Dortmun
                      </p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">2.26</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          AC Chievo Verona
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">UC Sampdoria</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon statistic" aria-label="statistic"></button>
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+32</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        1.95
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">1.74</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          Carpi FC
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">US Sassuolo</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+144</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">Carpi FC</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.96</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        <div class="bg-icon down"></div>
                        3.15
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">US Sassuolo</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">3.95</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          AC Chievo Verona
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">UC Sampdoria</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon statistic" aria-label="statistic"></button>
                      <button class="bg-icon star star-filled" aria-label="favourites"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+32</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>

                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        1.95
                      </span>
                    </div>

                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          AC Chievo Verona
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">UC Sampdoria</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+32</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>

                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        <div class="bg-icon down"></div>
                        1.95
                      </span>
                    </div>

                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bets-col">
            <div class="bets-col-header flex-jc-ac top-radius">
              <div class="bets-col-title">
                <div class="bg-flag italy"></div>
                <span>Serie A</span>
              </div>
              <div class="result-dropdown" role="button">
                <span>Match result</span>
                <div class="bg-icon dropdown-icon"></div>
              </div>
            </div>
            <div class="current-games-toggler" role="button">
              <button class="bg-icon close-icon" aria-label="close"></button>
              <span>FOOTBALL. ITALY - SERIE A</span>
              <div class="arrow-up bet-arrow-up"></div>
            </div>
            <div class="one-day-games-container">
              <div class="games-date-container toggle-nextSibling flex-jc-ac top-radius">
                <div class="games-date">TODAY. JULY 31, 2020</div>
                <button class="arrow-up bet-arrow-up" aria-label="current day events"></button>
              </div>
              <div class="games-list">
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          Carpi FC
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">US Sassuolo</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon tv" aria-label="tv"></button>
                      <button class="bg-icon play" aria-label="play"></button>
                      <button class="bg-icon statistic" aria-label="statistic"></button>
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+144</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">Carpi FC</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.96</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        <div class="bg-icon down"></div>
                        3.15
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">US Sassuolo</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">3.15</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">03:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          Juventus FC
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">Empoli FC</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+14</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">Juventus FC</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.72</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        3.66
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">Empoli FC</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="one-day-games-container">
              <div class="games-date-container toggle-nextSibling flex-jc-ac top-radius">
                <div class="games-date">TOMMOROW. APRIL 2, 2020</div>
                <button class="arrow-up bet-arrow-up" aria-label="current day events"></button>
              </div>
              <div class="games-list">
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          Manchester United Manchester United
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">
                          Borussia Dortmun Borussia Dortmun
                        </p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon statistic" aria-label="statistic"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+56</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">
                        Manchester United Manchester United
                      </p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">2.65</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        <div class="bg-icon down"></div>
                        1.95
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">
                        Borussia Dortmun Borussia Dortmun
                      </p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">2.26</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          AC Chievo Verona
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">UC Sampdoria</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon statistic" aria-label="statistic"></button>
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+32</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        1.95
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">1.74</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          Carpi FC
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">US Sassuolo</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+144</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">Carpi FC</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.96</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        <div class="bg-icon down"></div>
                        3.15
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">US Sassuolo</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">3.95</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          AC Chievo Verona
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">UC Sampdoria</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon statistic" aria-label="statistic"></button>
                      <button class="bg-icon star star-filled" aria-label="favourites"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+32</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        1.95
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="game-item">
                  <div class="game-header flex-jc-ac top-radius">
                    <div class="game-info">
                      <p class="game-time">01:00</p>
                      <div class="game-name">
                        <p class="game-team-name text-ellips">
                          AC Chievo Verona
                        </p>
                        <span class="vs">vs</span>
                        <p class="game-team-name text-ellips">UC Sampdoria</p>
                      </div>
                    </div>
                    <div class="game-more-events">
                      <button class="bg-icon star" aria-label="favourite"></button>
                      <button class="event-count-btn" aria-label="more events">
                        <p class="events-count">+32</p>
                        <div class="bg-icon arrow-right"></div>
                      </button>
                    </div>
                  </div>
                  <div class="game-body">
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon up"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                    <div class="game-col flex-jc-ac x-result-col">
                      <div class="bg-icon x-icon"></div>
                      <span class="coefficient">
                        <div class="bg-icon down"></div>
                        1.95
                      </span>
                    </div>
                    <div class="game-col flex-jc-ac result-col">
                      <p class="team-name text-ellips">AC Chievo Verona</p>
                      <div class="team-coefficient">
                        <div class="bg-icon down"></div>
                        <span class="coefficient">1.95</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="/js/main.js"></script>
</html>
