<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="main-page">
      <div class="container">
        <aside class="sidebar">
          <div class="view-tabs">
            <ul class="view-items-wrapper">
              <li class="view-list-items dashboard">
                <button class="tab-btn jc-c">
                  <div class="bg-icon dashboard-icon"></div>
                </button>
              </li>
              <li class="view-list-items live">
                <button class="tab-btn jc-sb">
                  LIVE <span class="event-count">45</span>
                </button>
              </li>
              <li class="view-list-items pre-match">
                <button class="tab-btn jc-sb active">
                  PRE-MATCH <span class="event-count">657</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="filter-view-container">
            <ul class="view-list">
              <li class="view-tab time-tab">
                <div class="tab time-filter" role="button">
                  <div class="time-icon bg-icon"></div>
                  <p class="time">72H</p>
                  <div class="bg-icon dropdown-icon"></div>
                </div>
              </li>
              <li class="view-tab play-tab">
                <button class="tab bg-icon play-icon"></button>
              </li>
              <li class="view-tab mouse-tab">
                <button class="tab bg-icon mouse-icon"></button>
              </li>
              <li class="view-tab multi-tab">
                <div class="tab multi-select">
                  <p>Multi-selection</p>
                  <button class="toggle-btn">
                    <div class="round active"></div>
                  </button>
                </div>
              </li>
            </ul>
            <div class="search-minimize-wrap">
              <form action="" class="search-form">
                <input
                  type="text"
                  placeholder="Competition or a team"
                  class="search-input"
                />
                <button type="submit" class="search-btn"></button>
              </form>
              <button class="minimize-sidebar">
                <div class="minimize-icon bg-icon"></div>
              </button>
            </div>
          </div>
          <div class="acc-wrapper">
            <div class="acc-item">
              <div class="acc-heading">
                <div class="favourite-icon bg-icon"></div>
                Favourites
              </div>
              <div class="games-count">111</div>
              <div class="arrow-up"></div>
            </div>
            <div class="hide" id="accContent">aaaaa</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon heart-icon"></div>
                My Favourite team
              </div>
              <div class="game-info">
                <div class="bg-icon info-icon"></div>
                <div class="games-count">4</div>
              </div>
              <div class="arrow-up open"></div>
            </div>
            <div class="" id="accContent">
              <form action="" class="search-form">
                <input
                  type="text"
                  placeholder="Competition or a team"
                  class="search-input"
                />
                <button type="submit" class="search-btn"></button>
                <div class="form-group">
                  <button type="submit" class="form-btn active">CONFIRM</button>
                  <button type="reset" class="form-btn">CANCEL</button>
                </div>
              </form>
              <div class="divider"></div>
              <p class="form-info">
                From now on you can choose your favorite football team and even
                get cool bonuses betting on it. Just search to add it.
                <a href="#" rel="noopener" class="learn-more">Learn more</a>
              </p>
            </div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon popular-icon"></div>
                Popular
              </div>
              <div class="games-count">7</div>
              <div class="arrow-up"></div>
            </div>
            <div class="hide" id="accContent">
              <ul class="popular-list">
                <li class="list-item popular-list-item active">
                  UEFA Champions League
                  <div class="bg-icon star"></div>
                </li>
                <li class="list-item popular-list-item">
                  UEFA Europa League
                  <div class="bg-icon star star-filled"></div>
                </li>
                <li class="list-item popular-list-item">Premier League</li>
                <li class="list-item popular-list-item">Bundesliga</li>
                <li class="list-item popular-list-item">Primera Division</li>
                <li class="list-item popular-list-item">Serie A</li>
                <li class="list-item popular-list-item">Ligue 1</li>
              </ul>
            </div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon ball-icon"></div>
                Football
              </div>
              <div class="games-count">1578</div>
              <div class="arrow-up open"></div>
            </div>
            <div class="" id="accContent">
              <ul class="countries-list">
                <li class="country-list-item-wrapper">
                  <div class="list-item country-list-item">
                    <div class="bg-flag spain"></div>
                    Spain
                    <div class="arrow-up hidden"></div>
                  </div>
                  <ul class="league-list">
                    <li class="league-item active list-item">
                      <div class="league-checkbox">
                        <input type="checkbox" id="html" class="league-input" />
                        <label class="league-label" for="html"
                          >League name League name League name</label
                        >
                      </div>
                      <div class="bg-icon star"></div>
                    </li>
                    <li class="league-item list-item">
                      <div class="league-checkbox">
                        <input
                          type="checkbox"
                          id="html1"
                          class="league-input"
                        />
                        <label class="league-label" for="html1"
                          >League name 2</label
                        >
                      </div>
                      <div class="bg-icon star star-filled"></div>
                    </li>
                    <li class="league-item list-item">
                      <div class="league-checkbox">
                        <input
                          type="checkbox"
                          id="html2"
                          class="league-input"
                        />
                        <label class="league-label" for="html2"
                          >League name 3</label
                        >
                      </div>
                      <div class="bg-icon star"></div>
                    </li>
                  </ul>
                </li>
                <li class="list-item country-list-item">
                  <div class="bg-flag italy"></div>
                  Italy
                  <div class="arrow-up hidden"></div>
                </li>
                <li class="list-item country-list-item">
                  <div class="bg-flag uk"></div>
                  United Kingdom
                  <div class="arrow-up hidden"></div>
                </li>
                <li class="list-item country-list-item">
                  <div class="bg-flag jp"></div>
                  Japan
                  <div class="arrow-up hidden"></div>
                </li>
                <li class="list-item country-list-item">
                  <div class="bg-flag argentina"></div>
                  Argentina
                  <div class="arrow-up hidden"></div>
                </li>
              </ul>
            </div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon tennis-icon"></div>
                Tennis
              </div>
              <div class="games-count">587</div>
              <div class="arrow-up"></div>
            </div>
            <div class="" id="accContent">
              <ul class="countries-list">
                <li class="country-list-item-wrapper">
                  <div class="list-item country-list-item">
                    <div class="bg-flag spain"></div>
                    Spain
                    <div class="arrow-up hidden"></div>
                  </div>
                  <ul class="league-list">
                    <li class="league-item active list-item">
                      <div class="league-checkbox">
                        <input
                          type="checkbox"
                          id="html3"
                          class="league-input"
                        />
                        <label for="html3"
                          >League name League name League name</label
                        >
                      </div>
                      <div class="bg-icon star"></div>
                    </li>
                    <li class="league-item list-item">
                      <div class="league-checkbox">
                        <input
                          type="checkbox"
                          id="html4"
                          class="league-input"
                        />
                        <label class="league-label" for="html4"
                          >League name 2</label
                        >
                      </div>
                      <div class="bg-icon star star-filled"></div>
                    </li>
                    <li class="league-item list-item">
                      <div class="league-checkbox">
                        <input
                          type="checkbox"
                          id="html5"
                          class="league-input"
                        />
                        <label class="league-label" for="html5"
                          >League name 3</label
                        >
                      </div>
                      <div class="bg-icon star"></div>
                    </li>
                  </ul>
                </li>
                <li class="list-item country-list-item">
                  <div class="bg-flag italy"></div>
                  Italy
                  <div class="arrow-up hidden"></div>
                </li>
                <li class="list-item country-list-item">
                  <div class="bg-flag uk"></div>
                  United Kingdom
                  <div class="arrow-up hidden"></div>
                </li>
                <li class="list-item country-list-item">
                  <div class="bg-flag jp"></div>
                  Japan
                  <div class="arrow-up hidden"></div>
                </li>
                <li class="list-item country-list-item">
                  <div class="bg-flag argentina"></div>
                  Argentina
                  <div class="arrow-up hidden"></div>
                </li>
              </ul>
            </div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon basketball-icon"></div>
                Basketball
              </div>
              <div class="games-count">587</div>
              <div class="arrow-up"></div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon valeyball-icon"></div>
                Valeyball
              </div>
              <div class="games-count">50</div>
              <div class="arrow-up"></div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon hockey-icon"></div>
                Ice Hockey
              </div>
              <div class="games-count">111</div>
              <div class="arrow-up"></div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon baseball-icon"></div>
                Baseball
              </div>
              <div class="games-count">587</div>
              <div class="arrow-up"></div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon football-icon"></div>
                American Football
              </div>
              <div class="games-count">50</div>
              <div class="arrow-up"></div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="bg-icon more-icon"></div>
                More sports
              </div>
              <div class="games-count">+34</div>
              <div class="arrow-up"></div>
            </div>
          </div>
        </aside>
        <div class="bets-container">
          <div class="bets-col"></div>
          <div class="bets-col"></div>
        </div>
      </div>
    </section>
  </body>
  <script src="/js/main.js"></script>
</html>
