<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="main-page">
      <div class="container">
        <aside class="sidebar">
          <div class="view-tabs">
            <ul class="view-items-wrapper">
              <li class="view-list-items dashboard">
                <button class="tab-btn">ic</button>
              </li>
              <li class="view-list-items live">
                <button class="tab-btn">
                  LIVE <span class="games-count">45</span>
                </button>
              </li>
              <li class="view-list-items pre-match">
                <button class="tab-btn active">
                  PRE-MATCH <span class="games-count">657</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="filter-view-container">
            <ul class="view-list">
              <li class="view-tab">
                <div class="tab time-filter">
                  <div class="time-icon">ic</div>
                  <p class="time">72 H</p>
                </div>
              </li>
              <li class="view-tab play-tab">
                <div class="tab play-icon">PL</div>
              </li>
              <li class="view-tab">
                <div class="tab mouse-icon">MS</div>
              </li>
              <li class="view-tab multi-tab">
                <div class="tab multi-select">
                  <p>Multi-selection</p>
                  <button class="toggle-btn">
                    <div class="round active"></div>
                  </button>
                </div>
              </li>
            </ul>
            <div class="search-minimize-wrap">
              <form action="" class="search-form">
                <input
                  type="text"
                  placeholder="Competition or a team"
                  class="search-input"
                />
              </form>
              <button class="minimize-sidebar">
                <div class="minimize-icon">M</div>
              </button>
            </div>
          </div>
          <div class="acc-wrapper">
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon star"></div>
                Favourites
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">aaaaa</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                My Favourite team
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">
              <form action="" class="search-form">
                <input
                  type="text"
                  placeholder="Search for a team"
                  class="search-input"
                />
                <div class="form-group">
                  <button type="submit" class="form-btn active">CONFIRM</button>
                  <button type="reset" class="form-btn">CANCEL</button>
                </div>
              </form>
              <div class="divider"></div>
              <p class="form-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                neque dolore sunt laborum saepe assumenda, ut, delectus officiis
                adipisci quidem fuga iusto.
                <a href="#" rel="noopener" class="learn-more">Learn more</a>
              </p>
            </div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                Popular
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                Football
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                Tennis
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                Basketball
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                Valeyball
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                Ice Hockey
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                Baseball
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                American Football
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
            <div class="hide" id="accContent">bbbb</div>
            <div class="acc-item">
              <div class="acc-heading">
                <div class="heading-icon"></div>
                More sports
              </div>
              <div class="arrow-up">&#11105;</div>
            </div>
          </div>
        </aside>
        <div class="bets-container">
          <div class="bets-col"></div>
          <div class="bets-col"></div>
        </div>
      </div>
    </section>
  </body>
  <script src="/js/main.js"></script>
</html>
