@import 'game-item.sass'

.bets-container
  width: 70%
  flex-grow: 1
  margin: 0 1px
  
.bets-col
  width: 50%
  flex-grow: 1
  margin: 0 1px
  .bets-col-header
    font-size: 11px
    background-color: $gray-650
    color: $gray-050
    padding: 2px 8px
    margin: 2px 0 0 0
    height: 36px
  .bets-col-title
    display: flex
  .result-dropdown
    display: flex
    cursor: pointer
    border-left: 1px solid $gray-400
    padding: 0 0 0 6px
  .current-games-toggler
    display: flex
    align-items: center
    color: $gray-050
    background-color: $gray-300
    font-size: 11px
    height: 22px
    padding: 2px 0 2px 8px
    margin: 2px 0 0 0
    .bet-arrow-up
      margin-left: auto
    
.one-day-games-container
  margin: 5px 0 0 0

.games-date-container
  background-color: $gray-900
  color: $gray-300
  padding: 2px 0 2px 8px
  font-size: 11px
  height: 24px
  cursor: pointer
  user-select: none